#editor_container{
    width: 600px;
    height:500px;
    background-color: rgb(255, 0, 0);
    margin: 1em;
    overflow: hidden;
}

#QuickUseEditor{
    padding: 1em;
    width: 50% !important;
    height: 80% !important;
}