.editor-container {
  height: 100vh;
  background-color: #1e1e1e;
}

.code-editor {
  border: none !important;
  font-family: "SF Mono", "Fira Code", "Menlo", monospace;
  font-size: 18px;
  color: #d4d4d4;
  background-color: #1e1e1e !important;
  height: 100%;
}

.code-editor .monaco-editor .margin {
  width: 50px !important;
}
.custom-editor {
  font-size: 16px;
}

.custom-editor .monaco-editor .view-overlays {
  background-image: repeating-linear-gradient(
    transparent 0px,
    transparent 23px,
    #ddd 24px
  );
}
.quick-use-editor-container {
  display: inline-block;
  width : 1000px;
  margin: 20px;
}

.editor-title {
  font-size: 36px;
  margin : 0px 0px 20px;
}

.editor-options {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.editor-option {
  margin-right: 20px;
  font-size:  18px; 
}

.custom-editor { 
  height: 750px;
}
 



#conatiner{
  display: flex;
}

#compilation_section{
  display: inline-block;
  margin-top: 100px;
}
 
#output_box, #compilation_section textarea{
  color: white ; 
  background-color: #bbbbbb ; 
  border:  1px solid black ; 
  border-radius: 5px ; 
  padding: 10px 5px ;    
  margin-bottom: 20px ; 
  height: 200px;
}